<%- include('./partials/head.ejs') %> 
<body>
     <%- include('./partials/header.ejs') %> 
    </header>
    <main>
        <h1>Workout Planner</h1>    
      <div class=".containerTimer">
        <p id="time"><span id="second">00</span>:<span id="tens">00</span></p>
        <button id="btn-start" class="timer__btn timer__btn--control timer__btn--start">
            <span class="material-icons">play_arrow</span>  </button>
        <button id="btn-stop" class="timer__btn timer__btn--control"><span class="material-icons">
            pause
            </span></button>
        <button id="btn-reset" class="timer__btn timer__btn--control"><span class="material-icons">
            restart_alt
            </span></button>
    </div>
    <ul>
        <% if(exerciseProfile[0]?.selected === true){%>
            <% exerciseProfile.forEach( el => { %>
                <h5><%= el.exerciseTitle %></h5>
               <% el.exerciseItem.map( exerciseItem => { %>
                 <li class='todoItem' data-id='<%=exerciseItem._id%>'>
                    <span class='<%= exerciseItem.completed === true ? 'completed' : 'not'%>'><%= exerciseItem.exerciseItems %></span>
                    <span class="del" > <span class="material-icons">
                        delete_sweep
                    </span></span>
                </li>
              <% }) %>
                
        <% }) %>    
            
           <%}else {%>
            <% todos.forEach( el => { %>
                <li class='todoItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.exercise %></span>
                    <span class="del" > <span class="material-icons">
                        delete_sweep
                        </span> </span>
                </li>
         <% }) %>    
            <% } %>
   
    </ul>
    
    <h2 class="upperCase"><%= user.userName %> has <%= left %> wokouts left to do.</h2>
    <div class="input-field">
        <form action="/todos/createTodo" method='POST'>
            <input type="text" placeholder="Workout Item" name='exercise'>
            <input type="submit">
        </form>
    </div>

</main>
<%- include('./partials/footer.ejs') %> 
</body>
</html>